<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ahut.system.dao.DeptDao">


    <resultMap type="com.ahut.api.domain.Dept" id="DeptResult">
        <result property="id" column="id"/>
        <result property="deptName" column="dept_name"/>
        <result property="dbSource" column="db_source"/>
    </resultMap>


    <select id="findById" parameterType="Long" resultMap="DeptResult">
		select id,dept_name,db_source from dept where id=#{id};
	</select>
    <select id="findAll" resultMap="DeptResult">
		select  id,dept_name,db_source from dept;
	</select>
    <insert id="addDept" parameterType="com.ahut.api.domain.Dept">
		INSERT INTO dept(dept_name,db_source) VALUES(#{deptName},DATABASE());
	</insert>
</mapper>


